#Common_img .container-fluid {
  background-image: url(/Web/Img/Subpage_img1111.jpg);
  height: 300px;
  background-size: cover;
  background-position: center center;
}
#Section_1 {
  margin: 80px 0;
}
#Section_1 .container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Section_1 .Company h2 {
  text-align: center;
  color: black;
  font-weight: 800;
}
#Section_1 .Company h4 {
  text-align: center;
  color: black;
  font-weight: 800;
}
#Section_1 .button {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
#Section_1 .button h5 {
  font-weight: 800;
  background-color: white;
  border: 1px solid black;
  padding: 10px 80px;
  color: #14126f;
  border-color: #14126f;
}
#Section_1 .button_active {
  box-shadow: inset 0 0 17px -4px #14126f;
}
#Section_1 .button h5 {
  margin: 0 40px;
}

#Section_2 .tables {
  border: 1px solid #cbcbcb;
}

#Section_2 .tables td,
.tables th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  padding: 0.5em 1em;
  text-align: center;
}

#Section_2 .tables thead {
  background-color: #201c6f;
  color: white;
  text-align: middle;
  vertical-align: bottom;
}

#Section_2 div.paging {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#Section_2 div.paging > div,
div.paging > div.pages > a {
  padding: 12px;
  font-size: 17px;
  cursor: pointer;
}

#Section_2 a.active {
  color: blue;
  font-weight: bold;
}
#Section_2 #Row_1 {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  padding: 50px 0;
}

#Section_2 #Row_1 h4 {
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
